<div id="top-nav" class="navbar dashboard-content  navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand logo-header" href="#"><img src="assets/img/logo.jpg" class="img-responsive"  alt=""></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right logout">
          <li class="dropdown "> <a ng-click="logout();" class="dropdown-toggle logout-right" role="button" data-toggle="dropdown" href="#"> <span class="">Logout</span> <img src="assets/img/logout.png" align="absmiddle" alt=""/></a> </li>
      </ul>
    </div>
  </div>
  <!-- /container -->
  </div>