<div class="col-lg-3 col-md-3 col-sm-3">
  <div class="side">
    <ul class="nav menu nav-pills top-rd nav-stacked leftbg">
      <li class="nav-header john">
        <div class="user-pic"><img src="assets/img/women-img0001.png" align="absmiddle" class="drc" alt=""/></div>
        <div class="user-info smith">
          <h4>{{name}} <i class="fa fa-angle-down" aria-hidden="true"></i></h4>
          <p>{{title}}</p>
        </div>
      </li>
      <li ui-sref="app.member.list" ng-class="page=='app.member.list'?'active':''"><a ><i class="fa fa-tachometer" aria-hidden="true">&nbsp;</i> DASHBOARD</a></li>
      <li class="disabled"  ><a ><i class="fa fa-users"  aria-hidden="true">&nbsp;</i> PROVIDER DOCUMENTATION</a></li>
      <li  class="disabled" ><a ><i class="fa fa-briefcase" aria-hidden="true">&nbsp;</i> MEDICATION LIST</a></li>
      <li class="disabled" ><a ><i class="fa fa-database" aria-hidden="true">&nbsp;</i> RECORDS</a></li>
      <li class="disabled" ><a ><i class="fa fa-sliders" aria-hidden="true">&nbsp;</i> SETTINGS</a></li>
    </ul>
  </div>
</div>
<style>
    .disabled{
        opacity: 0.5;
    pointer-events: none;
    }
    </style>