<div class="col-lg-9 col-md-9 col-sm-9" style="padding-left:0px;">
  <!-- Right -->
  <!-- Nav tabs -->
  <div class="card">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" ng-class="tab==1?'active':''"><a data-target="#1" aria-controls="1" role="tab" data-toggle="tab" ng-click="tab=1">Demographics</a></li>
      <li role="presentation" ng-class="tab==2?'active':''"><a data-target="#2" aria-controls="2" role="tab" data-toggle="tab"  ng-click="tab=2">Visit Information</a></li>
      <li role="presentation" ng-class="tab==3?'active':''"><a data-target="#3" aria-controls="3" role="tab" data-toggle="tab"  ng-click="tab=3">Review of Systems</a></li>
      <li role="presentation" ng-class="tab==4?'active':''"><a data-target="#4" aria-controls="4" role="tab" data-toggle="tab"  ng-click="tab=4">Health Status </a></li>
      <li role="presentation" ng-class="tab==5?'active':''"><a data-target="#5" aria-controls="5" role="tab" data-toggle="tab"  ng-click="tab=5">Physical Examination </a></li>
      <li role="presentation" ng-class="tab==6?'active':''"><a data-target="#6" aria-controls="6" role="tab" data-toggle="tab"  ng-click="tab=6"> Health Maintenance </a></li>
    </ul>
    <!-- Tab panes -->
  	
      <div class="tab-content">
        <div class="tab-pane" id="1" ng-class="tab==1?'active':''">
		 <div class="cutsm-panel-default panel panel-default">
            <div class="panel-body">
			 <h3 class="">Demographics</h3>
			<form>
                        <div class="row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">First Name</label>
                            <input type="text" class="form-control" name="" id="" ng-model="patients.fname" placeholder="">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">Last Name</label>
                            <input type="text" class="form-control" name="" id="" ng-model="patients.lname"  placeholder="">
                          </div>
                        </div>
                        
                        <div class="row">
<!--                          <div class="form-group col-lg-3 col-md-4">
                            <label for="inputEmail4">Age</label>
                            <input type="text" class="form-control" id="inputEmail4" ng-model="patients.lname" placeholder="Age">
                          </div>-->
                          
                          <div class="form-group col-md-6">
                            <label for="sex" class="control-label input-group">Sex</label>
                            <div class="btn-group-block" data-toggle="buttons">
                                 <label class="btn btn-default active" ng-model="patients.gender" uib-btn-radio="'M'">Male</label>
                                <label class="btn btn-default" ng-model="patients.gender" uib-btn-radio="'F'">Female</label>
                             
                             
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label> Date of Birth</label>
                            
                            <input type="text" class="form-control datepicker" id="inputPassgfdgword4" ng-model="patients.dob" placeholder="MM-DD-YYYY">
                          </div>
                        </div>
                       
                        <div class="row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Race</label>
                            <select class="form-control" id="sel1" ng-model="patients.race">
                                <option>American Indian or Alaska Native</option>
                                <option>Asian</option>
                                <option>Black or African American</option>
                                <option>Hispanic or Latino</option>
                                <option>Native Hawaiian or Other Pacific Islander</option>
                                <option>White</option>
                              </select>
                            
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">Ethnicity</label>
                            <input type="text" class="form-control" id="" ng-model="patients.ethnic_group" placeholder="">
                          </div>
                        </div>
                      
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="Maritial" class="control-label input-group">Marital Status</label>
                          <div class="btn-group-block" data-toggle="buttons">
                            <label class="btn btn-default active"   uib-btn-radio="'Single'" type="radio" ng-model="patients.marital_status">
                              Single </label>
                            <label class="btn btn-default" uib-btn-radio="'Married'"  ng-model="patients.marital_status">
                              Married </label>
                            <label class="btn btn-default" uib-btn-radio="'Divorced'" class="active" type="radio" ng-model="patients.marital_status">
                              Divorced </label>
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="text">Preferred Language</label>
	                      <select class="form-control" id="sel1" ng-model="patients.language">
                                <option>English</option>
                                <option>Spanish</option>
                              </select>
                         
                        </div>
                      </div>
					  
                      
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="text">Religion</label>
                          <input type="text" class="form-control" id="" ng-model="patients.religion" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="text">Blood Group</label>
                          <input type="text" class="form-control" ng-model="demographics.blood_group" placeholder="Blood Group">
                        </div>
                      </div>
                            
                      <div class="row">
                        
                        <div class="form-group col-md-6">
                          <label for="text">Emergency Medications</label>
                          <input type="text" class="form-control" ng-model="demographics.emergency_medicines" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="address"> Contact Information</label>
                          <input type="text" class="form-control" id="" ng-model="demographics.contact" placeholder="(000) 000-0000">
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="address">Address</label>
                          <input type="text" class="form-control" id="" ng-model="patients.address" placeholder="">
                        </div>
                          
                          <div class="form-group col-md-6">
                          <label for="address">Country</label>
                          <input type="text" class="form-control" id="" ng-model="patients.country" placeholder="">
                        </div>
                        
                      </div>
                      
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="address">Emergency Contact Information</label>
                          <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" id="" ng-model="demographics.emergency_name" placeholder="Name">
                          </div>
                          <div class="form-group col-md-6">
                          <label for="address">&nbsp;</label>
                          <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="" ng-model="demographics.emergencycontact" placeholder="(000) 000-0000">
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-8">
                          <label for="text">Insurance Information</label>
                          <input ng-model="demographics.insurence" type="text" class="form-control" id="" placeholder="Insurance details...">
                        </div>
                        </div>
                        <!-- <div class="row">
                          <div class="form-group col-md-6">
                            <label for="address">Attending Physician</label>
                            <input ng-model="demographics.attend_physician" type="text" class="form-control" id="" placeholder="Doctor">
                          </div>
                          <div class="form-group col-md-6">
                                <label for="address">Consulting Physician</label>
                                <input ng-model="demographics.consulting_physician" type="text" class="form-control" id="" placeholder="Doctor">
                              </div>
                        </div> -->
                      

                      </form>
					  
		</div>
		</div>
		<div class="container-fluid clearfix">
                       
                    <button type="button" class="btn btn-danger  col-xs-2" ng-click="saveTab1();"> Next</button>
                        
                    
                      </div>
		</div>
		
        <div role="tabpanel" class="tab-pane"  ng-class="tab==2?'active':''" id="2">
			
     <div class="cutsm-panel-default panel panel-default">
            <div class="panel-body">
    
       
          <h3 class="auther-information">Author</h3>
          <h5 style="text-transform: capitalize;">{{doctor_name}}</h5>
          
        
     
	  </div>
	</div>
        <div class="cutsm-panel-default panel panel-default">
            <div class="panel-body">
    
        <h3 class="auther-information">Visit Information</h3>
        <form>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Date of Service</label>
              <input type="text" class="form-control datepicker" id="inputEmailgdfgf4" ng-model="visit_information.date_of_service" placeholder="MM-DD-YYYY">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Time</label>
              <input type="hidden" class="form-control" id="service_time_text" value="{{visit_information.service_time}}" placeholder="">
              <input type="time" class="form-control" id="service_time" ng-model="visit_information.service_time" value="{{visit_information.service_time}}"  placeholder="">
            </div>
          </div>
          <div class="row">
          <div class="form-group col-md-8">
            <label for="inputEmail4">Performing Location</label>
            <textarea class="form-control" rows="5" id="comment" ng-model="visit_information.performing_location" placeholder="Address "></textarea>
          </div>
		  </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Primary Care Provider (PCP)</label>
              <input type="text" class="form-control" id="inputEmail4" ng-model="visit_information.primary_care_provider" placeholder="">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Referring Provider</label>
              <input type="text" class="form-control" id="inputPassword4" ng-model="visit_information.referring_provider" placeholder="Name">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Visit Type</label>
              <input type="text" class="form-control" id="inputEmail4" ng-model="visit_information.visit_type" placeholder="Scheduled Follow-up / Consultation">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Accompained By</label>
              <input type="text" class="form-control" id="inputPassword4" ng-model="visit_information.accompanied_by" placeholder="Name">
            </div>
          </div>
          <!-- <div class="row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Source of History</label>
              <input class="form-control" id="disabledInput" type="text" ng-model="visit_information.source_of_history" placeholder="Person" >
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">History Limitation</label>
              <input type="text" class="form-control" id="disabledTextInput" ng-model="visit_information.referral_source" placeholder="Person" >
            </div>
          </div> -->
          </form>
        
      </div>
	  </div>
    
   <div class="cutsm-panel-default panel panel-default">
            <div class="panel-body">
      <div class="row">
	  
        <div class="col-md-12">
          <h3 class="auther-information">Chief Complaint</h3>
		  
              
              <textarea class="form-control" rows="5" id="comment" ng-model="chief_complaint.complaint"  placeholder=" Details..."></textarea>
          
        
        </div>
      </div>
    </div>
	</div>
	
    <div class="cutsm-panel-default panel panel-default">
            <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <h3 class="auther-information">Present Illness</h3>
		  <!-- <label for="inputEmail4">Details</label> -->
              <textarea class="form-control" rows="5" id="comment" ng-model="history_of_present_illness.history" placeholder=" Details..." ></textarea>
         
         </div>
          
        
      </div>
	  </div>
    </div>
	<div class="clearfix">
          
            <button type="button" class="btn btn-danger  col-xs-2" ng-click="saveTab2();"> Next</button>

          </div>
	
  
		</div>
        <div role="tabpanel" class="tab-pane"  ng-class="tab==3?'active':''" id="3">
		
		

              <div class="cutsm-panel-default panel panel-default custam-space">
            <div class="panel-body">
                <h3 class="">Review of Systems</h3>

<form>
      <div class="height20"></div>
      <div>
        <label>Constitutional</label>
        <div class="btn-group-block">
            <any  ng-repeat="c in constitutional">
            <label class="btn btn-success" name="a" ng-model="review_of_systems.constitutional" uib-btn-radio="'{{trim(c)}}'">
                <span class="text-center">{{c}}</span></label>  </any>
          
        </div>
      </div>
      <div class="height20"></div>
      <div>
        <label>Eye</label>
        <div class="btn-group-block" data-toggle="buttons">
            <any  ng-repeat="c in eye">
            <label class="btn btn-success" name="a" ng-model="review_of_systems.eye" uib-btn-radio="'{{trim(c)}}'">
                <span class="text-center">{{c}}</span></label>  </any>
         
        </div>
      </div>
      <div class="height20"></div>
      <div>
        <label>Ear/Nose/Mouth/Throat (ENMT)</label>
        <div class="btn-group-block" data-toggle="buttons">
            <any  ng-repeat="c in ear_nose_mouth_throat_enmt">
            <label class="btn btn-success" ng-model="review_of_systems.ear_nose_mouth_throat_enmt" uib-btn-radio="'{{trim(c)}}'">
                <span class="text-center">{{c}}</span></label>  </any>
          
        </div>
      </div>
      <div class="height20"></div>
      <div>
        <label>Respiratory</label>
        <div class="height5"></div>
        <div class="btn-group-block" data-toggle="buttons">
          <any  ng-repeat="c in forth">
            <label class="btn btn-success" ng-model="review_of_systems.respiratory" uib-btn-radio="'{{trim(c)}}'">
                <span class="text-center">{{c}}</span></label>  </any>
          
        </div>
      </div>
      <div class="height20"></div>
      <div>
        <label>Cardiovascular</label>
        <div class="height5"></div>
        <div class="btn-group-block" data-toggle="buttons">
          <any  ng-repeat="c in fifth">
            <label class="btn btn-success" ng-model="review_of_systems.cardiovascular" uib-btn-radio="'{{trim(c)}}'">
                <span class="text-center">{{c}}</span></label>  </any>
          
        </div>
        <div class="height20"></div>
        <div>
          <label>Gastrointestinal</label>
          <div class="height5"></div>
          <div class="btn-group-block" data-toggle="buttons">
            <any  ng-repeat="c in sixth">
            <label class="btn btn-success" ng-model="review_of_systems.gastrointestinal" uib-btn-radio="'{{trim(c)}}'">
                <span class="text-center">{{c}}</span></label>  </any>
          
          </div>
        </div>
        <div class="height20"></div>
        <div>
          <label>Genitourinary</label>
          <div class="height5"></div>
          <div class="btn-group-block" data-toggle="buttons">
            <any  ng-repeat="c in seventh">
            <label class="btn btn-success" ng-model="review_of_systems.genitourinary" uib-btn-radio="'{{trim(c)}}'">
                <span class="text-center">{{c}}</span></label>  </any>
          
          </div>
        </div>
        <div class="height20"></div>
        <div>
          <label>Hema/Lymph</label>
          <div class="height5"></div>
          <div class="btn-group-block" data-toggle="buttons">
            <any  ng-repeat="c in s8">
            <label class="btn btn-success" ng-model="review_of_systems.hema_lymph" uib-btn-radio="'{{trim(c)}}'">
                <span class="text-center">{{c}}</span></label>  </any>
          
          </div>
        </div>
        <div class="height20"></div>
        
        <div>
          <label>Endocrine</label>
          <div class="height5"></div>
          <div class="btn-group-block" data-toggle="buttons">
            <any  ng-repeat="c in s9">
            <label class="btn btn-success" ng-model="review_of_systems.endocrine" uib-btn-radio="'{{trim(c)}}'">
                <span class="text-center">{{c}}</span></label>  </any>
          
          </div>
        </div>
        <div class="height20"></div>
        
        <div>
          <label>Immunologic</label>
          <div class="height5"></div>
          <div class="btn-group-block" data-toggle="buttons">
            <any  ng-repeat="c in s10">
            <label class="btn btn-success" ng-model="review_of_systems.immunologic" uib-btn-radio="'{{trim(c)}}'">
                <span class="text-center">{{c}}</span></label>  </any>
          
          </div>
        </div>
        <div class="height20"></div>
        
        <div>
          <label>Musculoskeletal</label>
          <div class="height5"></div>
          <div class="btn-group-block" data-toggle="buttons">
            <any  ng-repeat="c in s11">
            <label class="btn btn-success" ng-model="review_of_systems.musculoskeletal" uib-btn-radio="'{{trim(c)}}'">
                <span class="text-center">{{c}}</span></label>  </any>
          
          </div>
        </div>
        <div class="height20"></div>
        
        <div>
          <label>Integumentary</label>
          <div class="height5"></div>
          <div class="btn-group-block" data-toggle="buttons">
            <any  ng-repeat="c in s12">
            <label class="btn btn-success" ng-model="review_of_systems.integumentary" uib-btn-radio="'{{trim(c)}}'">
                <span class="text-center">{{c}}</span></label>  </any>
          
          </div>
        </div>
        <div class="height20"></div>
        <div>
          <label>Neurologic</label>
          <div class="height5"></div>
          <div class="btn-group-block" data-toggle="buttons">
            <any  ng-repeat="c in s13">
            <label class="btn btn-success" ng-model="review_of_systems.neurologic" uib-btn-radio="'{{trim(c)}}'">
                <span class="text-center">{{c}}</span></label>  </any>
          
          </div>
        </div>
        <div class="height20"></div>
        <div>
          <label>Psychiatric</label>
          <div class="height5"></div>
          <div class="btn-group-block" data-toggle="buttons">
            <any  ng-repeat="c in s14">
            <label class="btn btn-success" ng-model="review_of_systems.psychiatric" uib-btn-radio="'{{trim(c)}}'">
                <span class="text-center">{{c}}</span></label>  </any>
          
          </div>
        </div>
        <div class="height20"></div>
      </div>
      </form> 

 </div>
           
</div>
<div class="clearfix">

          <button type="button" class="btn btn-danger  col-xs-2" ng-click="saveTab3();"> Next</button>

      </div>
    
          </div>
   

       
        
        <div role="tabpanel" class="tab-pane" id="4" ng-class="tab==4?'active':''">
		
                <div class="cutsm-panel-default panel panel-default">
            <div class="panel-body">
                <h3 class="">Health Status</h3>

<form action="" >
<div class="row">
              <div class="col-md-12">
              <div class="form-group">
                <label for="usr">Allergies</label>
                <textarea class="form-control" rows="5"  ng-model="allergies.allergies" placeholder="List allergies...">
                </textarea>
</div>
              </div>
</div>

<div class="row">
        <div class="col-md-12">
        <div class="form-group">
          <label for="usr">Medications</label>
          <textarea class="form-control" rows="5" ng-model="medications.medications" placeholder="List medication details...">
          </textarea>
 </div>
        </div>
</div>

<!-- <div class="row">
        <div class="col-md-12">
        <div class="form-group">
          <label for="usr">Complications</label>
          <textarea class="form-control" rows="5"  ng-model="problem_list.problem_list" placeholder="List">
          </textarea>
</div>
        </div>
</div> -->


</form> 

 </div>
 </div>
    
 
  <div class="cutsm-panel-default panel panel-default">
            <div class="panel-body">
        <h3 class="">Histories</h3>

<form action="" >
<div class="row">
      <div class="col-md-12">
      <div class="form-group">
        <label for="usr">Past Medical History</label>
         <textarea class="form-control" rows="5" ng-model="histories.past_medical_history" placeholder="">
          </textarea>
       
      </div>
      </div>
</div>
<!--****** supposed to be a text area ******-->
<div class="row">
      <div class="col-md-12">
      <div class="form-group">
        <label for="usr">Family History</label>
         <textarea class="form-control" rows="5" ng-model="histories.family_history_disease" placeholder="">
          </textarea>
       
      </div>
      </div>
</div>
<!-- <div class="row">
      <div class="col-md-4">
      <div class="form-group">
      <label for="usr">Heart Disease</label>
      <input type="text" class="form-control" id="usr" ng-model="histories.family_history_disease" placeholder="">
      </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
        <label for="usr">Heart Attack</label>
        <input type="text" class="form-control" id="usr" ng-model="histories.family_history_discription" placeholder="">
        </div>
      </div>
</div> -->



<div class="row">
<div class="col-md-12">
<div class="form-group">
  <label for="usr">Procedure History</label>
  <textarea class="form-control" rows="5" ng-model="histories.procedure_history" placeholder="">
          </textarea>
  
</div>
</div>
</div>

<h4>Social History</h4>

<div class="row">
        <div class="col-md-6 col-lg-5">
        <div class="form-group">
          <label for="usr">Alcohol Assessment</label>
          <input type="text" class="form-control" id="usr" ng-model="histories.social_alcohol_assessment" placeholder="">
        </div>
        </div>

        <div class="col-md-6 col-lg-5">
        <div class="form-group">
        <label for="usr">Tobacco Assessment</label>
        <input type="text" class="form-control" id="usr" ng-model="histories.social_tobacco_assessment" placeholder="">
        </div>
        </div>

</div>

<div class="row">
        <div class="col-md-6 col-lg-5">
        <div class="form-group">
          <label for="usr">Substance Abuse Assessment</label>
          <input type="text" class="form-control" id="usr" ng-model="histories.social_substance_abuse_assessment" placeholder="">
        </div>
        </div>

        <div class="col-md-6 col-lg-5">
        <div class="form-group">
        <label for="usr">Employment and Education Assessment</label>
        <input type="text" class="form-control" id="usr" ng-model="histories.social_employment_and_education_assessment" placeholder="">
        </div>
        </div>

</div>

<div class="row">
        <div class="col-md-6 col-lg-5">
        <div class="form-group">
          <label for="usr">Nutrition and Health Assessment</label>
          <input type="text" class="form-control" id="usr" ng-model="histories.social_nutrition_and_health_assessment" placeholder="">
        </div>
        </div>

        <div class="col-md-6 col-lg-5">
        <div class="form-group">
        <label for="usr">Exercise and Physical Activity Assessment</label>
        <input type="text" class="form-control" id="usr" ng-model="histories.social_exercise_and_physical_activity_assessment" placeholder="">
        </div>
        </div>

</div>

<div class="row">
        <div class="col-md-6 col-lg-5">
        <div class="form-group">
          <label for="usr">Sexual Assessment</label>
          <input type="text" class="form-control" id="usr" ng-model="histories.social_sexual_assessment" placeholder="">
        </div>
        </div>

        <div class="col-md-6 col-lg-5">
        <div class="form-group">
        <label for="usr">Other Assessment</label>
        <input type="text" class="form-control" id="usr" ng-model="histories.social_other_assessment" placeholder="">
        </div>
        </div>

</div>


</div>

</form> 

</div>
<div class="clearfix">
        
    <button type="button" class="btn btn-danger col-xs-2" ng-click="saveTab4()"> Next</button>
       
		</div>
</div>

        <div role="tabpanel" class="tab-pane" id="5" ng-class="tab==5?'active':''">
          <!--////////****************PHYSICAL EXAMINATION////////****************-->
          <div class="cutsm-panel-default panel panel-default">
            <div class="panel-body">
              <h3>Physical Examination</h3>
              <div class="height20"></div>
              <div>
                <label>Vital Signs</label>
                <div class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control datepicker" ng-model="physical_examination.vital_signs" >
                  </div>
                  <div class="form-group">
                      <input class="form-control" id="vital_time_text" type="hidden"  value="{{physical_examination.vital_time}}" >
                    <input class="form-control" id="vital_time" type="time" ng-model="physical_examination.vital_time" >
                  </div>
                </div>
              </div>
              <div class="height20"></div>
              <div class="row ">
                <div class="col-lg-3 col-md-4">
                  <label>Peripheral Pulse Rate</label>
                  <input class="form-control" ng-model="physical_examination.peripheral_pulse_rate">
                </div>
                <div class="col-lg-3 col-md-4">
                  <label>Pulse Site</label>
                  <input class="form-control" ng-model="physical_examination.pulse_site">
                </div>
                <div class="col-lg-3 col-md-4">
                  <label>HR Method</label>
                  <input class="form-control" ng-model="physical_examination.hr_method">
                </div>
              </div>
              <div class="height20"></div>
              <div class="row ">
                <div class="col-lg-3 col-md-4">
                  <label>Systolic Blood Pressure</label>
                  <input class="form-control" ng-model="physical_examination.systolic_blood_pressure">
                </div>
                <div class="col-lg-3 col-md-4">
                  <label>Diastolic Blood Pressure</label>
                  <input class="form-control" ng-model="physical_examination.diastolic_blood_pressure">
                </div>
                <div class="col-lg-3 col-md-4">
                  <label>Mean Arterial Pressure</label>
                  <input class="form-control" ng-model="physical_examination.mean_arterial_pressure">
                </div>
              </div>
              <div class="height20"></div>
              <div class="row ">
                <div class="col-lg-3 col-md-4">
                  <label>BP Site</label>
                  <input class="form-control" ng-model="physical_examination.bp_site">
                </div>
                <div class="col-lg-7 col-md-8">
                  <label>BP Method</label>
                  <input class="form-control" ng-model="physical_examination.bp_method">
                </div>
              </div>
              <div class="height20"></div>
              <div class="row ">
                <div class="col-lg-2 col-md-3">
                  <label>Weight (lbs)</label>
                  <input class="form-control" ng-model="physical_examination.weight_measured">
                </div>
                <div class="col-lg-2 col-md-3">
                  <label>Height (in)</label>
                  <input class="form-control" ng-model="physical_examination.height_measured">
                </div>
                <div class="col-lg-2 col-md-3">
                  <label>BSA (m2)</label>
                  <input class="form-control" ng-model="physical_examination.bsa">
                </div>
                <div class="col-lg-2 col-md-3">
                  <label>BMI (kg/m2)</label>
                  <input class="form-control" ng-model="physical_examination.body_mass_index">
                </div>
              </div>
              <div class="height20"></div>
              <div>
                <label>Height/Weight Measurement Refused by Patient?</label>
                <div class="btn-group-block" data-toggle="buttons">
                  <label class="btn btn-default active" uib-btn-radio="'Yes'"  ng-model="physical_examination.ht_wt_measurement">
                  Yes </label>
                  <label class="btn btn-default " uib-btn-radio="'No'"  ng-model="physical_examination.ht_wt_measurement">
                  No </label>
                </div>
              </div>
              
              
              <div class="height20"></div>
              <div ng-repeat="i in h " style="margin-top:30px;">
                <label>{{i.n}}</label>
                <div class="height5"></div>
                <div class="btn-group-block" data-toggle="buttons">
                    <any ng-repeat="j in i.v">
                        <label style="margin:5px;" class="btn btn-success" ng-model="physical_examination[i.m]" uib-btn-radio="'{{trim(j)}}'">
                        <span class="text-center">{{trim(j)}}</span></label>
                  
                    </any>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix">
              <button class="btn btn-danger col-xs-2" ng-click="saveTab5();">Next</button>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="6" ng-class="tab==6?'active':''">
          <!--////////****************HEALTH MAINTENANCE////////****************-->
          <div class="cutsm-panel-default panel panel-default">
            <div class="panel-body">
              <h3>Health Maintenance</h3>
              <div>
                <h4>Review / Management</h4>
                <textarea class="form-control" rows="5" ng-model="health_maintenance.review_management" placeholder="">
                </textarea>
               
              </div>
			  <div class="height20"></div>
              <h4>Impression and Plan</h4>
              <div>
                <h5>Diagnosis</h5>
                <textarea class="form-control" rows="3" ng-model="health_maintenance.diagnosis"></textarea>
              </div>
			  <div class="height20"></div>
              <div>
                <h5>Plan</h5>
                <textarea class="form-control" rows="3" ng-model="health_maintenance.plan"></textarea>
              </div>
			  <div class="height20"></div>
              <div>
                <h5>Patient Instructions</h5>
                <textarea class="form-control" rows="3" ng-model="health_maintenance.patient_instructions"></textarea>
              </div>
			  <div class="height20"></div>
              <div>
                <h5>Orders</h5>
                <input type="text" class="form-control" ng-model="health_maintenance.orders">
              </div>
            </div>
          </div>
          <div class="cutsm-panel-default panel panel-default">
            <div class="panel-body">
              <h3>Professional Services</h3>
              <div>
                <h5>Counseling Summary</h5>
                <textarea class="form-control" rows="3" ng-model="health_maintenance.course"></textarea>
              </div>
            </div>
          </div>
          <div class="clearfix">
            <button class="btn btn-danger col-xs-2"ng-click="saveTab6();">Save</button>
          </div>
        </div>
      </div>
  
  </div>
</div>



<!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
 
  <script>
  $(function() {
    $( ".datepicker" ).datepicker({"dateFormat":"mm-dd-yy"});
    setTimeout(function(){
    document.getElementById("service_time").value = document.getElementById("service_time_text").value;
    document.getElementById("vital_time").value = document.getElementById("vital_time_text").value;
    console.log(document.getElementById("service_time").value);
},1000);
  } );
  </script>
<style>
.card .nav-tabs { border-bottom: 0px;position: fixed;background: #f1f4fa;z-index: 1;width: 74%;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
.card .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.card .nav-tabs > li > a { border: none; color: #666; }
.card .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #d33448  !important; background: transparent !important; }
.card .nav-tabs > li > a::after { content: ""; background: #d33448 ; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.card .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.card .tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.card .tab-pane { padding: 15px 0; }
.card .tab-content{padding:0px; float:left; width:100%; top: 40px; position: relative;}
.card {margin-top:57px; background-color:#f6f6f6;}
.card .cutsm-panel-default{background-color:#f9f9f9;}
.card .cutsm-panel-default p,.card .cutsm-panel-default li{font-weight:600;}
.card .cutsm-panel-default textarea{ resize: none;}
.card .cutsm-panel-default h4,.card .cutsm-panel-default h5,.cutsm-panel-default h3,.cutsm-panel-default label{font-weight:700;}
.card .btn{border-radius:0px; padding:10px 15px;}
.card .btn-success,.card .btn-success:hover{background: #d0d0d0 !important	;color: #6b6b6b;border: none;}
.card .btn-success.active,.card .btn-success:focus{background-color:#404040 !important; color:#fff;}
.card .btn.active.focus,.card .btn.active:focus,.card .btn.focus,.card .btn:active.focus,.card .btn:active:focus,.card .btn:focus{outline:none;}
.card .btn-default{background: #e4e4e4;color: #6b6b6b;border: none;}
.card .btn-default.active,.card .btn-default:focus{color:#fff;background-color: #c9302c;border-color: none;}
.card .well{border-radius: 0px;box-shadow: none;border: none;background: #eaeaea;padding: 10px 15px;}
.navbar-brand>img{padding-top:5px;}
.side{top:57px;}
.height20{height:20px;}
.height5{height:5px;}

.navbar.dashboard-content{padding:0px; height:auto;}
.custam-space label{ margin-bottom:5px;}
@media (max-width:1300px) and (min-width:768px){
.card .nav-tabs > li > a  {font-size:1.2vmax; padding:15px 10px;}	
}
</style>