<div class="col-lg-9 col-md-9 col-sm-9" style="padding-left:0px;">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"></div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <button class="btn btn-danger" style='margin-top:90px;float:right;right:10px' ng-click="addNew();">ADD</button>
        </div>
    </div>
    <div class="row patients-part">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="table-box custom-set">
                <table width="100%"  class="table table-responsive" cellspacing="3" cellpadding="3"
                       align="center">

                    <tr class="wallet-box">
                        <td colspan="4"  valign="middle">
                            <div class="wollet col-lg-6 col-md-6 col-sm-6 col-xs-12"><img src="assets/img/parents-icon.png" align="absmiddle" alt=""/> <span>PATIENTS</span></div>
                            <div class="own col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="input-group stylish-input-group">
                                    <input ng-keypress="keydown();" type="text" class="form-control" ng-model='q' placeholder="Search Patient Name">
                    <span class="input-group-addon">
                        <button type="button" ng-click="search();">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                                    
                </div>
                                
                            </div>
                        </td>
                    </tr>

                    <tr class="wallet-box transaction">
                        <td width="51%" align="left" valign="middle" class="refbd">Patient Name</td>
                        <td width="23%" align="left" valign="middle" class="refbd">Last Visit</td>
                        
                        <td width="16%" align="left" valign="bottom">Contact No</td>
                    </tr>


                    <tr class="received-text" ng-repeat="u in users">
                       
                        <td width="51%" align="left" valign="bottom" class="ref-received title-nameone">
                            <a href='' ng-click='load(u.idpatients)'>{{u.fname}} {{u.lname}}</a>
                        </td>
                        <td width="23%" align="center" valign="bottom" class="ref-received">
                            {{u.date_of_service | date}}
                        </td>
                        
                        <td width="16%" align="left" valign="bottom">   
                            {{u.contact}}
                        </td>
                    </tr>
                 



                    <tr class="">
                        <td  align="center" valign="middle">
                            Showing {{currentPage}} of {{totalPages}} pages
                        </td>
                        <td colspan="3" align="right" valign="right">
                        <nav style="float:right;">
  <ul class="pagination page-Patient">
      <li class="page-item"><a href="#" ng-class="currentPage>1?'active':'inactive'"  class="page-link" ng-click='prev($event);'><i class="fa fa-chevron-left" aria-hidden="true"></i>

 Previous</a> </li>

 <li class="page-item"><a ng-class="currentPage<totalPages?'active':'inactive'"  ng-click="next($event);" class="page-link">Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
</a></li>
  </ul>
</nav>
                           </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>


<style>
    .inactive{
        opacity: 0.5;
        pointer-events: none;
    }
    </style>