
<div class="loginbg">
    <div class="logintop col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
        <div class="login-innerbg">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-left">

                    <div class="logo-password"> <img src="assets/img/login-logo.png" alt=""/> </div>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right">
                    <div class="login-box"> Sign up</div>
                </div>


            </div>
        </div>

        <div class="login-username">
            <div class="row">
                <div class="login-usernamespace">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                        <form>
                            <div class="form-group">
                                <label for="name" class="username">First Name</label>
                                <input type="text" ng-model="user.name" placeholder="" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="name" class="username">Last Name</label>
                                <input type="text" ng-model="user.lname" placeholder="" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="name" class="username">Position Title</label>
                                <input type="text" ng-model="user.title" placeholder="" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="lname" class="username">Username</label>
                                <input type="text" ng-model="user.username" placeholder="" class="form-control" id="lname">
                            </div>

                            <div class="form-group">
                                <label for="email" class="username">Password</label>
                                <input type="password"  ng-model="user.password" placeholder="" class="form-control" id="email">
                            </div>

                            <div class="form-group">
                                <label for="password" class="username"> Confirm Password</label>
                                <input type="password"  ng-model="user.cpassword" placeholder="" class="form-control" id="password">
                            </div>

                            <button type="button" ng-click="signup();" class="btn btn-reset btn-default">Sign up</button>
                            <div class="form-group">
                            <div class="return"><a href="" ng-click="login();">Already have an account?</a></div>
    
                    </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>