body{font-family: 'Muli', sans-serif;}
img{max-width:100%;}
.logout-right{font-size:1.2em; }
.navbar-inverse {
    background: #fff;
    height: auto;
    padding: 15px 0;
    border-bottom: 1px solid #e27885;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > .dropdown > a .caret {
    color: #48a3da;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-nav > li > .dropdown-menu {
    background: #e64459;
}

.nav-pills > li > a {
    color: #303F9F;
}

.nav-pills > li.active  > a, .nav-pills > li.active  > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #337ab7
}


.side .nav > li > a:hover, .side .nav > li > a:focus {
    background-color: #e64459;
    color: #fff;
}

.side .nav li a i{color:#e64459; font-size:3vmin;}
.side .nav li:hover i{color: #fff;}

.side .nav > li > a:hover:after, .side .nav > li > a:focus:after, .side .nav > li.active a:after {
    top: 9px;
    right: 0;
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 10px solid #fff;
}

.nav-pills.top-rd > li > a {
    border-radius: 0px;
    border-bottom: solid 1px #fff;
}

.logout li .fa-sign-out {
    font-size:1.5em;
}

.john {
    background: #e2e2e2;
    padding: 14px 8px 12px 8px;
}

.leftbg {
    border-right: 0px solid #333;
    background: #f1f4fa;
    text-transform: uppercase;
}

.sprites {
    /*background-image: url(../img/sprites.png);*/
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-right: 20px;
}

.dashboard-icon {
    background-position: -30px -2px;
}

.patients-icon {
    background-position: -2px -27px;
}

.consumers-icon {
    background-position: -1px -53px;
}

.records-icon {
    background-position: -1px -152px;
    height: 26px;
    margin-top: -4px;
}

.wallets-icon {
    background-position: -1px -102px;
    height: 22px;
}

.setting-icon {
    background-position: -3px -78px;
}

.help-icon {
    background-position: -1px -125px;
    margin-top: -4px;
}

.nav > li > a:hover .dashboard-icon {
    background-position: -30px -2px;
}

.nav > li > a:hover .patients-icon {
    background-position: -31px -27px;
}

.nav > li > a:hover .consumers-icon {
    background-position: -29px -53px;
}

.nav > li > a:hover .setting-icon {
    background-position: -30px -78px;
}

.nav > li > a:hover .wallets-icon {
    background-position: -29px -102px;
}

.nav > li > a:hover .help-icon {
    background-position: -29px -125px;
}

.nav > li > a:hover .records-icon {
    background-position: -29px -152px;
}

.nav, .menu > li > a{
    color: #7f7e7f;
    font-weight: bold;
}

.description-header {
    margin-top: 30px;
}

.wrapper {
    width: 100%;
    margin: auto;
    position: relative;
}


.counter {
    background-color: #ffffff;
    padding: 20px 0;
    border-radius: 0px;
    border-right: solid 1px #ececec;
}

.count-title {
    font-size: 50px;
    font-weight: bold;
    color: #e64459;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 23px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

.wallet-box { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6455a+0,58aadc+100 */
    background: #e6455a; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e6455a 0%, #58aadc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e6455a 0%, #58aadc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e6455a 0%, #58aadc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6455a', endColorstr='#58aadc', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    clear: both;
}

.own {
    text-align: right;
    font-size: 20px;
    padding: 15px 15px;
}

.own-left {
    border-right: solid 1px #fff;
    padding: 0px 5px 0px 0px;
    color: #fff;
}

.own-right {
    color: #fff;
    padding: 0px 0px 0px 8px;
}

.wollet {
    font-size: 22px;
    padding: 15px 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.transaction {
    border-top: solid 1px #fff;
    color: #fff;
    font-size: 16px;
    padding: 9px 0px 9px 0px;
}

.received-text {
    color: #000000;
    font-size: 16px;
}

.refbd {
    border-right: solid 1px #fff;
}

.ref-received {
    border-right: solid 1px #e6e6e6;
}
.title-name{
   font-weight:600; 
}

.received-footer {
    color: #fff;
    text-transform: uppercase;
    background: #e5475a;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
}

.received-footer a, .received-footer a:hover {
    color: #fff;
    display: block;
    text-decoration: none;
}

.received-footer:hover {
    background: #e5475a;
}

.smith {
    text-align: center !important;
    font-size: 22px;
    color: #e64459;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.navbar.dashboard-content {
    margin-bottom: 0px !important;
}

.user-info {
    position: relative;
    text-align: center;
}

.user-info h4 {
    color: #e64459;
    margin-bottom: 0;
    font-weight: 600;
    margin-top: 16px; font-size:1em;
}

.user-info p {
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
    font-weight: lighter;
}

.user-pic {
    position: absolute;
}

.navbar-brand.logo-header {
    margin-left: 15% !important;
    text-align: center;
    padding: 0;
}

.drc {
    border-radius: 50%;
    border: solid 1px #a09f9f;
}

.main-containt {
    top: 90px;
}

.side {
    background: #f1f4fa;
    position: relative;
    top: 80px;
}

.loginbg{background:url(../img/timihr-login-bg.png) center center fixed;
     min-height:700px;
      width:100%; 
      float:left; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100vh;

    }
    .logintop{margin-top:12%;}
    .login-innerbg{background:#fff; border-bottom:solid 1px #d33348;}
    .login-username{background:#fff; padding: 0px 0px 2px 0px;}
    .login-usernamespace{padding:22px 22px 26px 22px;}
    .logo-password{padding:25px 10px 25px 15px;}
    .reset-box{ padding:33px 0px 30px 10px; font-size:22px;  color:#d33348; }
    .login-box{ padding:33px 22px 30px 10px; font-size:22px;  text-align:right; color:#d33348; }
    .successful{font-size:22px; text-align:center; padding:10px 0px 20px 0px; color:#d33348;}
    .username {
        font-weight: normal; color:#64b8e3; padding-left:12px;
    }
.pagination.page-Patient > li > a, .pagination.page-Patient > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color:#d33348; 
    font-size:15px;
    text-decoration: none;
    background:none; border:none;
    
}
.record-parts{border-bottom: soild 1px #333;}

.pagination.page-Patient > li > a:hover, .pagination.page-Patient > li > span {
  color:#fff; background:#ed5d6c;
}
.na{border-bottom:solid 3px #57abdd; padding:2px 0px 0px 0px !important; margin:0px;}
.record-fild{border-bottom:solid 3px #acca15; padding:2px 0px 0px 0px !important; margin:0px;}
.anonomus{border-bottom:solid 3px #d33348; padding:2px 0px 0px 0px !important; margin:0px;}
.ation-item{ padding: 6px 6px 8px 5px; }
    .btn.btn-reset {
        width: 100%; 
        background:#d33347; 
        color:#fff;
    }
    .btn.btn-reset:hover {
        background:#57aadd; 
        transition: all 0.6s ease-in;
        color:#000;
    }

select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;}

    .return{text-align:center; padding:15px 0px 5px 0px; color:#d33348;}
    .return a{text-decoration:none; color:#d33348;} 
    .return a:hover{text-decoration:none; color:#000;} 
.search-part {
    border-right: solid 1px #ececec;
}
.status-patient{ font-size:16px; font-weight:300; color: #ed5d6c; padding:4px 0px 0px; letter-spacing: 0.8px;}

.filter-record{padding:7px; border:solid 1px #e2e2e2; border-radius:3px; width: 48%;}
.filter-by{padding:7px; border:solid 1px #e2e2e2; border-radius:3px; width: 65%;}
.search-patient{ font-size:16px; font-weight:300; color: #ed5d6c; padding:4px 0px 0px; letter-spacing: 0.8px;}
.patients-part{margin-top: 10px;}
.dashboard-title h2 {
    font-size: 25px;
   margin-top:100px;color:#ed5d6c;
}
.dashboard-title span{ color:#a6a6a6;} 
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.page-arrow{background:#e64459 !important; color:#fff !important; display:block;}
.by{width:25%; float:left;  }
.by-page{width:75%; float:left; }


label.wrap {
    width:48%;
    overflow: hidden; 
    height: 35px;    
    position: relative; color:#b0afaf;
    display: block;
    border:2px solid #e2e2e2; border-radius:3px;outline:none;
}
label.wrap.wrap1 {
    width:100%;
    overflow: hidden; 
    height: 35px;    
    position: relative; color:#b0afaf;
    display: block;
    border:2px solid #e2e2e2; border-radius:3px;outline:none;
}
label.wrap1:after {
    content:"\f078";
    font-family: FontAwesome;
    color: #d33348;
    position: absolute; 
    right: 2px;; 
    top: 5px;
    z-index: 1;
    width: 10%;
    height: 100%;  
    pointer-events: none;    
}

select.dropdown{       
    height: 30px; 
    padding: 5px;
    border: 0;
    font-size: 14px;       
    width: 100%;
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: normal;
}
label.wrap:after {
    content:"\f078";
    font-family: FontAwesome;
    color: #d33348;
    position: absolute; 
    right: 0; 
    top: 5px;
    z-index: 1;
    width: 10%;
    height: 100%;  
    pointer-events: none;    
}
.custom-set table td:nth-child(3){padding:10px 11px 8px 11px;}
.custom-set table td:nth-child(2){padding:10px 11px 8px 11px; }
.custom-set table td:nth-child(1){padding:10px 11px 8px 11px;}
.custom-set table td:nth-child(4){padding:10px 11px 8px 11px;}

.informed {padding:10px 11px 0px 11px; border:solid 1px #e3e3e3; }
.informed-concent {padding:10px 11px 3px 11px; border:solid 1px #e3e3e3; background:#eceaea;}


.title-nameone{font-weight:600;}
.remove-record {
    text-align: right;
    font-size: 20px;
    padding: 10px 0px 0px 0px;
}

.action-zoom {
    padding: 6px 8px 8px 8px;
    background: #57abdd; display: inline-block; text-align:center;
}
.action-page{
    padding: 6px 10px 8px 10px;
    background: #f5a712; display: inline-block; text-align:center;
}

.action-delete{
    padding: 6px 7px 8px 7px;
    background: #d33348; display: inline-block; text-align:center;
}

.patientid{
font-size: 20px;
font-weight: 600;
color: #ed5d6c;
padding: 0px 0px 0px;
letter-spacing: 0.5px;}

.recordsource{
font-size: 16px;
font-weight: 600;
color: #ed5d6c;
padding: 4px 0px 0px;
letter-spacing: 0.4px;}


.recordsource span{
font-size: 16px;
font-weight: normal;
color: #000;
padding: 4px 0px 0px;
letter-spacing: 0.8px;}
.identity{font-size:16px;}

.patient-seprate{  
  border-top: solid 1px #eee;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    padding-top: 10px;
    /* padding-bottom: 10px; */
    }

.hr-dashboard {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
        border-top-width: 0px;
        border-top-style: none;
        border-top-color: currentcolor;
    border-top: 1px solid #eee;
}

.screening a{font-size:18px;  text-align:center; text-transform:uppercase; color:#e5475a; display:block; padding:6px 0px; border:solid 2px #e5475a;} 
.screening a:hover{
background:#e5475a; color:#fff; text-decoration:none; position: relative;transition: all 0.5s ease-out;
}
.screening  a:hover:after{
 top: 100%;
right: 50%;
content: '';
position: absolute;
display: inline-block;
border-top: 12px solid #e5475a;
border-bottom: 12px solid transparent;
border-right: 10px solid transparent;
border-left: 10px solid transparent;

transition: all 0.5s ease-out;
}

/*
.nav-tabs.screening a > li {
font-size:18px;  text-align:center; text-transform:uppercase; color:#e5475a; display:block; padding:6px 0px; border:solid 2px #e5475a; 
}

.nav-tabs.screening a:hover{
background:#e5475a; color:#fff; text-decoration:none; position: relative;transition: all 0.5s ease-out;
}

.nav-tabs.screening  a:hover:after{
 top: 40px;
right: 50%;
content: '';
position: absolute;
display: inline-block;
border-top: 12px solid #e5475a;
border-bottom: 12px solid transparent;
border-right: 10px solid transparent;
border-left: 10px solid transparent;

transition: all 0.5s ease-out;
}
*/
.tab-scrollbar{

	float: left;
	height: 200px;
	width: 800px;

	overflow-y: scroll;


} 
.concent {
text-transform:uppercase;
    padding: 8px 0px; color:#fff; font-size:20px;
    background: #e6455a;
    background: -moz-linear-gradient(-45deg, #e6455a 0%, #58aadc 100%);
    background: -webkit-linear-gradient(-45deg, #e6455a 0%, #58aadc 100%);
    background: linear-gradient(135deg, #e6455a 0%, #58aadc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6455a', endColorstr='#58aadc', GradientType=1);
    clear: both;
}

.screening-visit{padding:10px 10px; font-size:25px; text-transform:uppercase; text-align:center; color:#e5475a;}

.btn-info.delete-tab {
    
    background-color: #d33348;
    border:0px;   
}
.btn-info.delete-tab:hover {
    
    background-color: #d33348;
    border:0px;   
}
.btn-xs.delete-tab {
    padding: 0px 0px;
  
    border-radius: 0px;
}

.modal-header.popup-header {
    padding: 30px;
    border-bottom: 0px solid #e5e5e5;
}

.modal-footer.popup-footer  {
    padding: 30px;
    text-align: center;
    border-top: 0px solid #e5e5e5;
}

.btn-default.cancel-btn {
    color: #e6455a;
   width: 120px; font-size:1em;
    border:2px solid #e6455a;
}

.btn-default.cancel-btn:hover {
    color: #fff;
    background:#e6455a;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-body h3 {
    text-align: center;
    color: #e6455a;
}

.modal-body p {
    text-align: center;
    color: #333;
}

.close.cancel-right {
    float: right;
    font-size: 2em !important;
    font-weight: 700;
    line-height: 1;
    color: #333 !important;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .6;
 
}

.nav-tabs.tab-bordernone {
    border-bottom: 0px solid #ddd;
}
@media screen and (min-width: 768px) {
    .side {
        position: fixed;
        top: 80px;
        width: 24%;
        bottom: 0px;
        left: 0px;
    }
}


@media (min-width: 1000px) and (max-width: 1024px) {

    .action-zoom {
        padding: 6px 5px 8px 5px;
        background: #57abdd; display: inline-block; text-align:center;
    }
    .action-page{
        padding: 6px 7px 8px 7px;
        background: #f5a712; display: inline-block; text-align:center;
    }
    
    .action-delete{
        padding: 6px 5px 8px 5px;
        background: #d33348; display: inline-block; text-align:center;
    }
.user-info h4 {
    color: #e64459;
    margin-bottom: 0;
    font-weight: 600;
    margin-top: 13px;
    margin-left: 29%;
}

.user-info p {
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
    font-weight: lighter;
    margin-left: 20%;}

    .dashboard-title h2 {
    font-size: 20px;
    margin-top: 100px;
    color: #ed5d6c;
}
    .recordsource {
    font-size: 13px;
    font-weight: 600;
    color: #ed5d6c;
    padding: 4px 0px 0px;
    letter-spacing: 0.4px;
}
    .recordsource span {
    font-size: 13px;
    font-weight: normal;
    color: #000;
    padding: 4px 0px 0px;
    letter-spacing: 0.5px;
}
    .status-patient {
    font-size: 13px;
    font-weight: 300;
    color: #ed5d6c;
    padding: 8px 0px 0px;
    letter-spacing: 0.5px;
}
.search-patient {
    font-size: 13px;
    font-weight: 300;
    color: #ed5d6c;
    padding: 8px 0px 0px !important;
    letter-spacing: 0.5px;
}
.own {
    text-align: right;
    font-size: 15px;
}

.wollet {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.ation-item {
    padding:0px
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 6px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

    .reset-box{ 
        padding:30px 6px 15px 6px;
        font-size:13px; color:#d33348;
     }

    }
    .btn-info.parent-del {
        background-color:transparent;
        border-color:transparent;
    }
    .btn-info.parent-del:hover {
        color: #fff;
        background-color:transparent;
        border-color:transparent;
    }

@media (min-width: 320px) and (max-width: 480px) {
    modal-body h3 {
        text-align: center;
        color: #e6455a;
      
    }
    .modal-footer.popup-footer {
        padding: 10px;
        text-align: center;
        border-top: 0px solid #e5e5e5;
    }
    .modal-header.popup-header {
        padding: 10px;
        border-bottom: 0px solid #e5e5e5;
    }
    .btn-default.cancel-btn {
    color: #e6455a;
    width: auto;
    font-size: 1em;
    border: 2px solid #e6455a;
}
    .WebContainer{
        float: left !important;
        width:1000px !important;
        
    } 
    
    .Web-left{
        float: left !important;
        width:300px !important;
        
    } 
    .user-info h4 {
        color: #e64459;
        margin-bottom: 0;
        font-weight: 600;
        margin-top: 13px;
        margin-left: 15%;
    }
    .user-info p {
        font-size: 14px;
        text-transform: capitalize;
        text-align: center;
        font-weight: lighter;
        margin-left: 15%;
    }


 .screening a{font-size:14px;  text-align:center; text-transform:uppercase; color:#e5475a; display:block; padding:6px 0px; border:solid 2px #e5475a;} 
.screening a:hover{
background:#e5475a; color:#fff; text-decoration:none; position: relative;transition: all 0.5s ease-out;
}
.screening  a:hover:after{
 top: 100%;
right: 50%;
content: '';
position: absolute;
display: inline-block;
border-top: 12px solid #e5475a;
border-bottom: 12px solid transparent;
border-right: 10px solid transparent;
border-left: 10px solid transparent;

transition: all 0.5s ease-out;
}
   
.screening-visit {
    padding: 25px 0px 10px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #e5475a;
    margin-top: 15px;
}
.action-zoom {
    padding: 6px 7px 8px 8px;
    background: #57abdd; display: inline-block; text-align:center;
}
    .ation-item {
    padding:0px;
    text-align: center;
    .reset-box{ 
        padding:25px 10spx 20px 10px;
        font-size:14px; color:#d33348;
     }
    .side {
        background: #f1f4fa;
        position: relative;
    }

    .navbar-brand.logo-header {
        margin-left: 15% !important;
        text-align: center;
        padding: 0px 0px;
    }

    .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > .dropdown > a .caret {
        color: #48a3da;
        background: #e64459;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #333;
        background: #e64459;
    }

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > .dropdown > a .caret {
        color: #48a3da;
        background: #e64459 !important;
    }
}

.inactive{
        background-color: #cccccc;
    }
    
    .disabled {
    opacity: 0.5;
    pointer-events: none;
}