/* YOUR CUSTOM STYLES */

#customizer {
	position:fixed;
	right:0;
	right:-200px;
	top:25%;
	background:#2D3E50;
	width:200px;
	transition: right 1s;
	z-index:666;
	color:#fff;
	border-radius:0 0 0 2px;
}

#customizer.visible {
	right:0;
}

#customizer #toggle {
	display:inline-block;
	position:absolute;
	margin-left:-47px;
	font-size:32px;
	background:#2D3E50;
	border-radius:2px 0 0 2px;
	color:#fff;
	padding:9px;
}

#customizer .inner {
	margin-top:10px;
	padding:10px 0;
}

#customizer .skins-list {
	margin-top:8px;
	text-align: center;
}

#customizer .skins-list li {
	display:inline-block;
}

#customizer .skins-list li a {
	display:block;
}

#customizer .skins-list li a .color {
	display:block;
	width:32px;
	height:32px;
	border-radius:50%;
	background:#fff;
	border:1px solid #fff;
}

#customizer .skins-list li a .color.skin-blue {
	background-color: #072e6e;
}

#customizer .skins-list li a .color.skin-red {
	background-color: #f00;
}

#customizer .skins-list li a .color.skin-green {
	background-color: #003830;
}

#customizer .skins-list li a .color.skin-purple {
	background-color: #54057d;
}

#customizer .skins-list li a .color.skin-dark {
	background-color: #3b3b3b;
}

#customizer .skins-list li a .color.skin-mdb {
	background-color: #3f729b;
}

#customizer .skins-list li a .color.skin-deep-orange {
	background-color: #8a1a00;
}

#customizer .skins-list li a .color.skin-graphite {
	background-color: #37474f;
}

#customizer .skins-list li a .color.skin-pink {
	background-color: #ab1550;
}

#customizer .skins-list li a .color.skin-light-grey {
	background-color: #686868;
}

#customizer .skins-list li a .color.skin-white {
	background-color: #fff;
}

#customizer .skins-list li a .color.skin-elegant-white {
	background-color: #ECEDEE;
}

#customizer .skins-list li a .color.skin-elegant-dark {
	background-color: #131415;
}

@media (max-width:768px) {
 
    .progressbar {
        margin: 1rem auto;
        margin-left: -0.9rem;
        counter-reset: step;
    }
    
   
    .progressbar li {
        list-style-type: none;
        width: calc(100%/1);
        float: left;
        font-size: 14px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #57abdd;
        cursor: pointer;
    }
    .progressbar li:hover {
    list-style-type: none;
    width: calc(100%/1);
    float: left;
    font-size: 14px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #e5475a;
    cursor: pointer;
}
.progressbar li:hover:before {
        width: 40px;
        height: 40px;
        content: counter(step);
        counter-increment: step;
        line-height: 40px;
        border: 2px solid #e5475a;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
        position: relative;
        z-index: 1;
    }


    .progressbar li:before {
        width: 40px;
        height: 40px;
        content: counter(step);
        counter-increment: step;
        line-height: 40px;
        border: 2px solid #57abdd;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
        position: relative;
        z-index: 1;
    }
   
    .progressbar li:after {
        width: 100%;
        height: 0px;
        content: '';
        position: absolute;
        background-color: #57abdd;
        top: 18px;
        left: -50%;
        z-index: 0;
    }
    .progressbar li:first-child:after {
        content: none;
    }
    .progressbar li.active {
        color: #55b776;
    }
    .progressbar li.active:before {
        border-color: #55b776;
    }
    .progressbar li.active ~ li {
        color: #7d7d7d;
    }
    .progressbar li.active ~ li:after {
        background-color: #7d7d7d;
    }
    .progressbar li.active ~ li:before {
        border-color: #7d7d7d;
    }
    .progressbar li.active + li:after {
        background-color: #7d7d7d;
    }
    .progressbar2 li {
        width: calc(100%/1);
    }
    .progressbar3 li {
        width: calc(100%/13);
    }

    .mobpag {
        margin-top: -5.5rem;
    }
}

@media (min-width:768px) {

    .box-frame {
        padding: 1rem;
        margin: 1rem -1rem;
        border: solid #f7f7f9;
        border-width: .2rem;
    }


    .progressbar {
        margin: 1rem auto;
        margin-left: -0.9rem;
        counter-reset: step;
    }
    
   
    .progressbar li {
        list-style-type: none;
        width: calc(100%/7);
        float: left;
        font-size: 14px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #57abdd;
        cursor: pointer;
    }

.progressbar li:hover {
    list-style-type: none;
    width: calc(100%/7);
    float: left;
    font-size: 14px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #e5475a;
    cursor: pointer;
}
.progressbar li:hover:before {
        width: 40px;
        height: 40px;
        content: counter(step);
        counter-increment: step;
        line-height: 40px;
        border: 2px solid #e5475a;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
        position: relative;
        z-index: 1;
    }



    .progressbar li:before {
        width: 40px;
        height: 40px;
        content: counter(step);
        counter-increment: step;
        line-height: 40px;
        border: 2px solid #57abdd;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
        position: relative;
        z-index: 1;
    }
   
    .progressbar li:after {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #57abdd;
        top: 18px;
        left: -50%;
        z-index: 0;
    }
    .progressbar li:first-child:after {
        content: none;
    }
    .progressbar li.active {
        color: #55b776;
    }
    .progressbar li.active:before {
        border-color: #55b776;
    }
    .progressbar li.active ~ li {
        color: #7d7d7d;
    }
    .progressbar li.active ~ li:after {
        background-color: #7d7d7d;
    }
    .progressbar li.active ~ li:before {
        border-color: #7d7d7d;
    }
    .progressbar li.active + li:after {
        background-color: #7d7d7d;
    }
    .progressbar2 li {
        width: calc(100%/7);
    }
    .progressbar3 li {
        width: calc(100%/13);
    }
}

.step-1 table tr td:last-child:first-letter {
    text-transform: uppercase;
}

.side-nav {
    color: #fff;
}

.side-nav .collapsible a {
    color: #fff;
    background: rgba(0,0,0,0.1);
}

.md-form > select {
    margin-left: 3rem;
    width: calc(100% - 3rem);
}
.user-avatar {
    font-size: 100px;
}
.nav.navbar-nav {
    font-size: 1em;
}
md-sidenav {
    width: 272px;
    min-width: 272px;
    max-width: 272px;
}

md-input-container > md-icon.fa {
    top: 0;
    font-size: 2rem;
}
md-input-container.md-icon-left {
    padding-left: 40px;
}

.brand md-select.md-default-theme:not([disabled]):focus .md-select-value, 
.brand md-select:not([disabled]):focus .md-select-value {
    color: #fff;
}
.brand md-select {
    margin-bottom: 18px;
    font-size: 80%;
}
md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb,
md-switch.md-default-theme.md-checked .md-ink-ripple, md-switch.md-checked .md-ink-ripple {
    background-color: rgba(102, 187, 106, 1)!important;
    color: rgba(102, 187, 106, 1)!important;
}
md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar{
    background-color: rgba(102, 187, 106, 0.5)!important;
}

.avatar-placeholder.md-avatar {
    line-height: 40px;
}
.card-cascade .card-block .card-text .btn {
    padding-left: 1em;
    padding-right: 1em;
}

@media print {
    #side-nav, #head-nav {
        display: none;
    }
}
